.character{
    display: flex;
    flex-wrap: wrap;
    width: 28%;
    background-color: rgba(0, 255, 255, 0.527);
    margin: 10px;
    color: white;
    border-radius: 50%;
    padding: 20px;
  }
  .bread{
    width: 100%;
    text-decoration: underline;
  }
  .mid{
    width: 45%;
  }
  .hair{
    width: 100%;
  }